body{
	padding-bottom:100px;
}

section {
	padding-bottom: 50px;
}

p {
	padding-top: 20px;
}

header {
	background-image: url('content/BirthdayHeader.png');
	height: 75px;
	color: #fff;
}

header .title {
	font-size: 20px;
	padding-left: 50px;
	line-height: 1;
}

header .subtitle {
	padding-left: 50px;
	font-size: 15px;
}

h1 {
	font-weight: bold;
}

nav {
	background-color: #000;
	height:50px;
	color: #fff;
	font-size: 14px;
}

aside button {
	width: 100%;
}

h2 {
	margin-bottom:0;
}

#content {
	padding: 20px 40px 20px 40px;
}

#navbar {
	float: right;
	position: relative;
	left: -50%;
	text-align: left;
}

#navbar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	list-style: none;
	position: relative;
	left: 50%;
}

#navbar ul li {
	display: inline;
}

#navbar ul li a {
	text-decoration: none;
	padding: .2em 1em;
	color: #ccc;
}

#navbar ul li a:hover {
	color: #fff;
}

#navbar li {
	float: left;
	position: relative;
}
/* ie needs position:relative here*/

#navbar a {
	text-decoration: none;
	margin: 10px;
	float: left;
	color: #fff;
	padding: 2px 5px;
	text-align: center;
	white-space: nowrap;
}

#navbar a:hover {
	color: #ddd;
}

#contributors {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
	list-style: none;
}

#contributors li {
	padding-bottom: 10px;
}

#alternateForm {
	visibility:hidden;
}

.chapter {
	padding-bottom: 50px;
}

.comment {
	font-size:smaller;
	color: #666;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	nav{
		font-size: 18px;
	}

	#content {
		padding: 50px 100px 50px 100px;
	}

	header {
		height: 115px;
	}

	header .title {
		font-size: 45px;
	}

	header .subtitle {
		font-size: 25px;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#alternateForm {
		visibility:visible;
	}
}